<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial - Análise de Dados</title>
</head>
<body>
    <h1>Bem-vindo ao Dashboard de Análise de Dados do TCC 2 de Juares Canalle</h1>
    <p>
        Este é um aplicativo web para visualizar análises de dados.
    </p>
    <ul>
        <li><a href="/gerar_graficos">Clique aqui para geração dos gráficos</a></li>
        <li><a href="/dashboard_um">Ir para o Dashboard do primeiro caso</a></li>
        <li><a href="/dashboard_dois">Ir para o Dashboard do segundo caso</a></li>
        <li><a href="/dashboard_tres">Ir para o Dashboard do terceiro caso</a></li>
    </ul>
</body>
</html>
