<!DOCTYPE html>
<html>
<head>
    <title>Dashboard de Análise de Dados do caso um</title>
</head>
<body>
    <h1>Dashboard de Análise de Dados do caso um</h1>

    <h2>Dados Textuais</h2>
    <p><strong>Colunas:</strong> {{ dados_texto.colunas }}</p>
    <p><strong>Dados Originais:</strong></p>
    <div>{{ dados_texto.dados_originais | safe }}</div>
    <p><strong>Informações das Variáveis:</strong></p>
    <pre>{{ dados_texto.infos_variaveis }}</pre>
    <p><strong>Shape:</strong> {{ dados_texto.shape }}</p>
    <p><strong>Describe:</strong></p>
    <div>{{ dados_texto.describe | safe }}</div>
    <p><strong>Describe Include 0:</strong></p>
    <div>{{ dados_texto.describe_include0 | safe }}</div>
    <p><strong>Limpeza:</strong></p>
    <div>{{ dados_texto.limpeza | safe }}</div>

    <h1>Correlations</h1>
    {% for chave, valor in dados_texto.correlacoes.items() %}
    <p>Correlação entre {{ chave }}: <strong>{{ valor }}</strong></p>
    {% endfor %}

    <h1>Counts and Hist Plots</h1>
    {% for caminho in caminhos_graficos %}
    <div>
        <img src="{{ url_for('static', filename=caminho) }}" alt="Gráfico de {{ campo }}">
    </div>  
    {% endfor %}    

    <h1>Box Plots</h1>
    {% for caminho in caminhos_graficos1 %}
    <div>
        <img src="{{ url_for('static', filename=caminho) }}" alt="Gráfico de {{ campo }}">
    </div>  
    {% endfor %}   
    
    <h1>Pair Plots</h1>
    {% for caminho in caminhos_graficos4 %}
    <div>
        <img src="{{ url_for('static', filename=caminho) }}" alt="Gráfico de Pairplot">
    </div>
    {% endfor %}   

    <h1>Scatter Plots</h1>
    {% for caminho in caminhos_graficos7 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Scatterplot">
    {% endfor %}
    </div>

    
    <h1>Heatmap</h1>
    {% for caminho in caminhos_graficos10 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Heatmap">
    {% endfor %}
    </div>

    
    <h1>Pairplot Numerical</h1>
    {% for caminho in caminhos_graficos11 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Pairplot Numerical">
    {% endfor %}
    </div>

    <h1>Algoritmo Kmeans:</h1>
    <h2>Soma quadratica:</h2>
    <ul>
        {% for valor in dados_texto.soma_quadratica %}
          <li>{{ valor }}</li>
        {% endfor %}
    </ul>

    <h2>Cotovelo:</h2>
    {% for caminho in caminhos_graficos16 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Cotovelo">
    {% endfor %}
    </div>

    <h2>Segmentação de dados:</h2>
    <table border="1">
        <tr>
            <th>Dados</th>
            <th>Segmentos Kmeans</th>
        </tr>
        {% for segmento, valores in dados_texto.df_segm_analysis.items() %}
        <tr>
            <td>{{ segmento }}</td>
            <td>{{ valores }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
