<!DOCTYPE html>
<html>
<head>
    <title>Dashboard de Análise de Dados do caso três</title>
</head>
<body>
    <h1>Dashboard de Análise de Dados do caso três</h1>

    <h2>Dados Textuais</h2>
    <p><strong>Colunas:</strong> {{ dados_texto.colunas }}</p>
    <p><strong>Dados Originais:</strong></p>
    <div>{{ dados_texto.dados_originais | safe }}</div>
    <p><strong>Informações das Variáveis:</strong></p>
    <pre>{{ dados_texto.infos_variaveis }}</pre>
    <p><strong>Shape:</strong> {{ dados_texto.shape }}</p>
    <p><strong>Describe:</strong></p>
    <div>{{ dados_texto.describe | safe }}</div>
    <p><strong>Describe Include 0:</strong></p>
    <div>{{ dados_texto.describe_include0 | safe }}</div>
    <p><strong>Limpeza:</strong></p>
    <div>{{ dados_texto.limpeza | safe }}</div>

    {% for chave, valor in dados_texto.correlacoes.items() %}
    <p>Correlação entre {{ chave }}: <strong>{{ valor }}</strong></p>
    {% endfor %}

    {% for caminho in caminhos_graficos %}
    <div>
        <img src="{{ url_for('static', filename=caminho) }}" alt="Gráfico de {{ campo2 }}">
    </div>  
    {% endfor %} 
    
    {% for caminho in caminhos_graficos3 %}
    <div>
        <img src="{{ url_for('static', filename=caminho) }}" alt="Gráfico de {{ campo2 }}">
    </div>  
    {% endfor %} 
    
    {% for caminho in caminhos_graficos6 %}
    <div>
        <img src="{{ url_for('static', filename=caminho) }}" alt="Gráfico de Pairplot">
    </div>
    {% endfor %} 

    <h1>Scatter Plots</h1>
    {% for caminho in caminhos_graficos9 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Scatterplot">
    {% endfor %}
    </div>

       
    <h1>Heatmap</h1>
    {% for caminho in caminhos_graficos14 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Heatmap">
    {% endfor %}
    </div>

    
    <h1>Pairplot Numerical</h1>
    {% for caminho in caminhos_graficos15 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Pairplot Numerical">
    {% endfor %}
    </div>
    
    <h1>Algoritmo Kmeans:</h1>
    <h2>Soma quadratica:</h2>
    <ul>
        {% for valor in dados_texto.soma_quadratica %}
          <li>{{ valor }}</li>
        {% endfor %}
    </ul>

    <h2>Cotovelo:</h2>
    {% for caminho in caminhos_graficos18 %}
    <div>
          <img src="{{ url_for('static', filename=caminho) }}" alt="Cotovelo">
    {% endfor %}
    </div>

    <h2>Segmentação de dados:</h2>
    <table border="1">
        <tr>
            <th>Dados</th>
            <th>Segmentos Kmeans</th>
        </tr>
        {% for segmento, valores in dados_texto.df_segm_analysis.items() %}
        <tr>
            <td>{{ segmento }}</td>
            <td>{{ valores }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Cluster Silhouette Scores</h1>
    <ul>
        {% for score in silhouette_scores %}
            <li>Cluster {{ loop.index }}: {{ score }}</li>
        {% endfor %}
    </ul>
    </div>
    
    <h1>Cluster Analysis Results</h1>
    {% for n in range(2, 11) %}
    <img src="{{ url_for('static', filename='graficos/df2_silhouette_' ~ n ~ '.png') }}" alt="Silhouette Analysis for {{ n }} Clusters">
    {% endfor %}
    </div>

    <h1>K-means Clustering Results</h1>
    <img src="{{ url_for('static', filename='graficos/df2_kmeans_pca_plot.png') }}" alt="K-means Clustering with PCA">

    <h1>Cluster Analysis Report</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Class Name</th>
                <th>Instance Count</th>
                <th>Rule List</th>
            </tr>
        </thead>
        <tbody>
            {% for index, row in cluster_analysis_report2.iterrows() %}
            <tr>
                <td>{{ row['class_name'] }}</td>
                <td>{{ row['instance_count'] }}</td>
                <td>{{ row['rule_list'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>K-means Scatterplot</h1>
    <img src="{{ url_for('static', filename='graficos/df2_kmeans_scatterplot.png') }}" alt="K-means Scatterplot with PCA">

    <h1>K-means Elbow</h1>
    <img src="{{ url_for('static', filename='graficos/df2_kmeans_elbow.png') }}" alt="K-means Elbow with PCA">
</body>
</html>
